@charset "UTF-8";

@font-face {
    font-family: 'html';
    src: url('../fonte/MADEAvenuePERSONALUSE-Regular.otf') format('opentype') ;
}

@font-face {
    font-family: 'titulo';
    src: url('../fonte/October\ Rose\ -\ Personal\ Use.otf') format('opentype') ;
}

@font-face {
    font-family: 'texto';
    src: url('../fonte/Homemade\ Sausage.ttf') format('truetype') ;
}

:root{

--fontehtml: 'html',  Arial, Helvetica, sans-serif;
--fontetitulo: 'titulo' , Times, serif;
--fontetexto: 'texto',  Verdana, sans-serif;



}






*{
    margin: 0px;
    padding:0px;
}

html , body {
    min-height: 100vh;
background-color: rgb(255, 254, 254);
 font-family:var(--fontehtml) ;

}


header{
    background-color: black;
    color: white;
    text-align: center;
   
}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
font-family: var(--fontetitulo);
font-size: 10vw;

      
}
header > p {
    padding-bottom: 50px;
    }
     header a, footer a{
        color: white;
        text-decoration: none;
        font-weight: bolder;
       
        
    }

   

    header a:hover ,footer a:hover {
color: white;
        text-decoration: underline;
            }
            section{
                padding-left: 30px;
                padding-top: 10vh;
                padding-bottom: 10vh;
                line-height: 2em;            
               font-family: var(--fonte3);
              
               
            }

            section.normal{
                background-color: white;
                color: black;
            }
            section.imagem > p {
                background-color: rgba(15, 17, 15, 0.702);
                color: white;
                display: inline-block;
                width: auto;
                background-size: cover;
                background-position: right;
                
                
            }




            
            section.imagem > p 
            {

            background-color: rgba(10, 10, 10, 0.203);
            display: inline-block;
            padding: 7px;
            
            }

            section > p {

            padding-bottom: 2em;
            }


section#img01{
   
background-image: url('../pacote-d012/imagens/background001.jpg');
background-position: right center ;
background-size: cover;

}

section#img02{
    background-image: url('../pacote-d012/imagens/background002.jpg');
    background-position:  right center;
    background-size: cover;

}

p{
    font-family: var(--fontetexto);
 }


footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px ;
}